// Importación de los estilos de los componentes
@import '../components/SearchForm';
@import '../components/weatherCard';
@import '../components/weatherList';

// Variables globales y Mixins
// $primary-color: #4b79a1; 
// $secondary-color: #283e51; 
// $accent-color: #f4b41a; 
// $background-color: #f0f4f8; 
// $text-color: #333; 
// $border-radius: 8px; 

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin transition($property, $duration: 0.3s) {
  transition: $property $duration ease-in-out;
}

// Estilos globales
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif; // Fuente moderna y clara
}

body {
  background-color: $background-color;
  color: $text-color;
  line-height: 1.6;
}

