.search-form {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  
    input[type="text"] {
      padding: 10px;
      border: none;
   
      width: 200px;
      @include transition(box-shadow);
  
      &:focus {
        outline: none;
        box-shadow: 0 0 10px rgba($primary-color, 0.6);
      }
    }
  
    button {
      padding: 10px 20px;
      background-color: $accent-color;
      color: #fff;
      border: none;
   
      font-weight: bold;
      cursor: pointer;
      @include transition(background-color);
  
      &:hover {
        background-color: darken($accent-color, 10%);
      }
    }
  }
  